.bg-linear-grey {
    background: rgb(65, 65, 73);
    background: linear-gradient(180deg, rgba(65, 65, 73, 1) 0%, rgba(55, 54, 60, 1) 36%, rgba(41, 40, 45, 1) 100%);
}



.bg-linear-slate {
    background: rgb(238, 242, 245);
    background: linear-gradient(180deg, rgba(238, 242, 245, 1) 0%, rgba(230, 231, 232, 1) 36%, rgba(233, 234, 235, 1) 100%);
}

.bg-linear-slate-center-light {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(255, 255, 255, 0.537) 50%, rgba(0, 212, 255, 0) 100%);
}